<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ak1.nytimes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="io.ak1.nytimes.io.ak1.thenewyorktimes.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheNewYorkTimesApp">
        <activity
            android:name="io.ak1.nytimes.MainComposeActivity"
            android:exported="true"
            android:label="@string/title_activity_main_compose"
            android:theme="@style/Theme.TheNewYorkTimesApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="io.ak1.nytimes.ui.settings.SettingsActivity" />
        <activity android:name="io.ak1.nytimes.ui.singlepage.SingleActivity" />
        <activity android:name="io.ak1.nytimes.io.ak1.thenewyorktimes.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>